<style type="text/css">
	.nav-item a{
		-webkit-text-fill-color:#2dc3e8; 
	}
	.nav-item :hover{
		background:#e9ecef; 
	}
</style>
<div  class="box" style="float: left; width:200px; margin-left: 5px; height: 600px;">
        <nav class="navbar bg-light" style="width:100%;">
          <ul class="navbar-nav" style="width: 100%;">
            <li class="nav-item" style="border-bottom: 1px solid #e9ecef;">
            	<a class="nav-link" href="{:url('add/index')}">添加病人</a>
            </li>
            <li class="nav-item">
            	<a  style="width:100%;text-align: left;" class="btn btn-link" role="button" onclick="window.history.back(-1);">返回</a>
            </li>
            <!--li class="nav-item"><a class="nav-link" href="#">Link 3</a></li-->
          </ul>
        </nav>
      </div>