<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
  <link rel="stylesheet" href="{$__PUBLIC__}\static\index\css\bootstrap.min.css">
  <script src="{$__PUBLIC__}\static\index\js\jquery.min.js"></script>
  <script src="{$__PUBLIC__}\static\index\js\popper.min.js"></script>
  <script src="{$__PUBLIC__}\static\index\js\bootstrap.min.js"></script>
  <style type="text/css">
    .box{
     -moz-box-shadow: inset 5px 5px 5px #CCC;
     -webkit-box-shadow: inset 5px 5px 5px #CCC;
     box-shadow: inset 5px 5px 5px #CCC;
    }
  </style>
<body style="background: #eee;">
    <div class=".container-fluid">
      <!--头部-->
      {include file="common/top"}
   
    <!--头部-->
    <!--a href="{:url('add/index')}"><button ><p>添加病人</p></button></a-->
    <!--a href="{:url('check/index')}"><button ><p>复查病人</p></button></a-->
    <!--侧边栏-->
      {include file="common/left"}
    <!--测边栏-->

  <div style="float: left; width: 900px; background: white;padding: 50px; margin:100px; " class="box">
  	<table  class="table table-bordered table-hover" width="800" style="margin: auto; text-align: center;">
  		<tr>
  			<td>名字</td>
  			<td>性别</td>
  			<td>年龄</td>
  			<td>电话</td>
  			<td>地址</td>
  			<td>    </td>
  		</tr>
  		{volist name='$arr' id='v'}
  		<tr>
  			<td>{$v.name}</td>
  			<td>{$v.sex}</td>
  			<td>{$v.age}</td>
  			<td>{$v.tel}</td>
  			<td>{$v.address}</td>
  			<td><a href="{:url('check/index')}?id={$v.id}">复查</a></td>
  		</tr>
  		{/volist}
  	</table>
    <div style="float: right; margin-top: 10px;">{$w}{$a}{$b}{$w2}</div>
  </div>
</div>
</body>
</html>